

.texto-menor{
    font-size:0.8em;
}

.divs-facilidades{
    width: 325px;
}

.section-title{
    color: #DAFF01;
}

.section-img{
    color: #DAFF01;
}

.botao-azul {
    background-color: #0D6EFD;
}

